[settings]
skip_glob = autopilot/*,codeflare-cli/*,codeflare-sdk/*,datalake/*,docker_buils_scripts/*,mcad/*,torchx/*,tsfm/*
ensure_newline_before_comments = True
force_grid_wrap = 0
include_trailing_comma = True
lines_after_imports = 2
multi_line_output = 3
use_parentheses = True
profile = black
