data-prep-toolkit-transforms[ray,all]==1.1.1.dev0

seaborn
humanfriendly
## HTML processing
trafilatura


# Milvus
pymilvus
pymilvus[model]

## --- Replicate
replicate

## --- llama-index
llama-index
llama-index-embeddings-huggingface
llama-index-llms-replicate
llama-index-vector-stores-milvus

## utils
humanfriendly
pandas
nest-asyncio

## jupyter and friends
jupyterlab
ipykernel
ipywidgets
