# Ray/Mutator runtime
# The following url for fm-data-processing.  Contact David Wood, dawood@us.ibm.com, if you don't have pypi access
--extra-index-url https://${ARTIFACTORY_USER}:${ARTIFACTORY_API_KEY}@na.artifactory.swg-devops.com/artifactory/api/pypi/res-data-engineering-team-pypi-local/simple
fm-data-processing==0.2.0
# TODO: pip install https://github.com/kpu/kenlm/archive/master.zip
# TODO: Download pre-trained KenLM model for English language on Wikipedia
        through cc_net (https://github.com/facebookresearch/cc_net):
        git clone https://github.com/facebookresearch/cc_net
        cd cc_net/
        make lang=en dl_lm
### For docquality
numpy==1.24.1
pandas==1.5.3
sentencepiece
packaging
binpacking