[Unit]
Description=supervisord service
After=network.target
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/supervisord -n -c /etc/supervisord.conf
ExecStop=/usr/bin/supervisorctl $OPTIONS shutdown
ExecReload=/usr/bin/supervisorctl $OPTIONS reload
KillMode=process
Restart=always
RestartSec=30s
User=ray

[Install]
WantedBy=multi-user.target