name: Build Transform Images

on:
    workflow_dispatch:
    push:
        branches:
            - "dev"
    pull_request:
        branches:
            - "dev"
jobs:
    build-code:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Build and Test Code Transforms
              run: |
                  make -C data-processing-lib DOCKER=docker image 
                  make -C transforms/code DOCKER=docker image test-image
    build-universal:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Build and Test Universal Transforms
              run: |
                  make -C data-processing-lib DOCKER=docker image 
                  make -C transforms/universal DOCKER=docker image test-image
    build-tools:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Build and Test Universal Transforms
              run: |
                  make -C data-processing-lib DOCKER=docker image 
                  make -C tools/ingest2parquet DOCKER=docker image test-image
