name: Build, Test, and Upload PyPI package

on:
    release:
        types:
            - published
    workflow_dispatch:

permissions:
    contents: read
    # see https://docs.pypi.org/trusted-publishers/
    id-token: write

jobs:
    build-package:
        name: Build Ray data processing library
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  # for setuptools-scm
                  fetch-depth: 0
            - name: Build Package for pypi
              run: |
                  make -C data-processing-lib/ray build
    publish-test-pypi:
        name: Publish packages to test.pypi.org
        # disabled
        if: false
        runs-on: ubuntu-latest
        needs: build-package

        steps:
            - name: Fetch build artifacts
              uses: actions/download-artifact@v4
              with:
                  name: Packages
                  path: dist

            - name: Upload to Test PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
              with:
                  repository-url: https://test.pypi.org/legacy/

    publish-pypi:
        name: Publish release to pypi.org
        runs-on: ubuntu-latest
        needs: build-package
        # disabled as of now
        if: false
        steps:
            - name: Fetch build artifacts
              uses: actions/download-artifact@v4
              with:
                  name: Packages
                  path: dist
            - name: Upload to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
